@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "spaceAge";
  src: url("./assets/space-age.ttf") format("truetype");
}
*,
*::after,
*::before {
  box-sizing: border-box;
  cursor: none !important;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background: url("./assets/bg.png"), no-repeat;
  background-size: cover;
  overflow-x: hidden;
}
.trail {
  /* className for the trail elements */
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background: linear-gradient(90deg, #6825e6, #a655ba);
}
.App {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.header {
  width: 100%;
}
.header__wrapper {
  display: flex;
  width: 100%;
  max-width: 1440px;
  justify-content: space-between;
  align-items: center;
  margin: 0em auto;
  padding: 2em 2em;
}
.header__logo {
  width: 250px;
}
.header__btns {
  display: none;
  align-items: center;
}
.header__menu {
  background: linear-gradient(90deg, #6825e6, #a655ba);
  border: none;
  color: white;
  width: 40px;
  height: 38px;
  padding: 0em;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 1.5em;
}
.header__menu:hover {
  box-shadow: 0px 0px rgba(0, 0, 0, 0.2);
}
.header__nav {
  display: flex;
  align-items: center;
}
.header__nav__link {
  font-size: 14px;
  color: white;
  text-decoration: none;
  padding: 0.8em 1.5em;
  margin-right: 1em;
  border-radius: 5px;
}
.header__nav__link:hover {
  transition: 300ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.6);
}
.header__nav__link__btn {
  position: relative;
  padding: 12px 36px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.header__nav__link__btn span {
  position: relative;
  color: #fff;
  font-size: 12px;
  z-index: 1;
}

.header__nav__link__btn .liquid {
  position: absolute;
  top: -80px;
  left: 0;
  width: 100%;
  height: 200px;
  background: linear-gradient(90deg, #6825e6, #a655ba);
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.header__nav__link__btn .liquid::after,
.header__nav__link__btn .liquid::before {
  content: "";
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
  background: #fff;
}

.header__nav__link__btn .liquid::before {
  border-radius: 45%;
  background: rgba(20, 20, 20, 1);
  animation: animate 5s linear infinite;
}

.header__nav__link__btn .liquid::after {
  border-radius: 40%;
  background: rgba(20, 20, 20, 0.5);
  animation: animate 10s linear infinite;
}

.header__nav__link__btn:hover .liquid {
  top: -120px;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}
.home__section {
  width: 100%;
  max-width: calc(1440px - 3em);
  padding: 8em 2em;
  margin: 0em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
}
.home__section__pic {
  width: 500px;
  margin-top: -2.5em;
}
.home__section__heading {
  font-size: 40px;
  width: 100%;
  max-width: 800px;
  color: white;
  text-align: center;
  margin-bottom: 1em;
  font-family: spaceAge;
}
.home__section__buttons {
  display: flex;
  align-items: center;
}
.home__section__buttons__btn {
  cursor: pointer;
  --color: white;
  font-family: inherit;
  display: inline-block;
  width: fit-content;
  padding: 1em 2em;
  margin: 0em 0.8em;
  position: relative;
  overflow: hidden;
  transition: color 0.5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color);
  border: none;
}

.home__section__buttons__btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 150px;
  width: 150%;
  border-radius: 50%;
}

.home__section__buttons__btn:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

.home__section__buttons__btn:hover:before {
  top: -30px;
  left: -30px;
}

.home__section__buttons__btn:active:before {
  background: linear-gradient(90deg, #6825e6, #a655ba);
  transition: background 0s;
}
.home__section__buttons__btn__primary {
  background: linear-gradient(90deg, #3480a1, #2eaab4, #26e4cf);
}
.home__section__buttons__btn__primary:hover {
  color: #2eaab4;
}
.home__section__buttons__btn__secondary::before {
  background: white;
}
.home__section__buttons__btn__primary::before {
  background: white;
}
.home__section__buttons__btn__secondary {
  background: linear-gradient(90deg, #6825e6, #a655ba);
}
.home__section__buttons__btn__secondary:hover {
  color: #6825e6;
}

.feature__section {
  width: 100%;
  max-width: 1440px;
  margin: 8em auto;
  margin-bottom: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0em 1.5em;
}
.feature__section__heading {
  font-family: spaceAge;
  font-size: 35px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 1em;
}
.feature__section__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.feature__section__content__entry {
  width: 32%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 2.5em 2em;
  margin-bottom: 2em;
  border-radius: 20px;
  cursor: pointer;
}
.feature__section__content__entry:hover * {
  fill: #ffffff;
}
.feature__section__content__entry span {
  margin-top: 1em;
  color: white;
  font-size: 16px;
  text-align: center;
}
.feature__section__content__entry:nth-child(1):hover {
  transition: 300ms ease-in-out;
  background: linear-gradient(#3480a1, #2eaab4, #26e4cf);
}
.feature__section__content__entry:nth-child(2):hover {
  transition: 300ms ease-in-out;
  background: linear-gradient(#3480a1, #2eaab4, #26e4cf);
}
.feature__section__content__entry:nth-child(3):hover {
  transition: 300ms ease-in-out;
  background: linear-gradient(#ec6e6e, #991313);
}
.feature__section__content__entry:nth-child(4):hover {
  transition: 300ms ease-in-out;
  background: linear-gradient(#ea453a, #fedb3d);
}
.feature__section__content__entry:nth-child(5):hover {
  transition: 300ms ease-in-out;
  background: linear-gradient(#533192, #8c4dff);
}
.feature__section__content__entry:nth-child(6):hover {
  transition: 300ms ease-in-out;
  background: linear-gradient(#3480a1, #2eaab4, #26e4cf);
}
.about__section {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  width: 100%;
  max-width: calc(1440px - 2.5em);
  margin: 0em auto;
  display: flex;
  padding: 4em;
}
.about__section__left {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2em;
}
.about__section__left__img {
  width: 400px;
}
.about__section__right {
  width: 50%;
}
.about__section__right__heading {
  font-size: 40px;
  width: 50%;
  color: white;
  font-weight: 500;
  margin-bottom: 0.3em;
  font-family: spaceAge;
}
.about__section__right__info {
  color: white;
  font-size: 14px;
  line-height: 22px;
}
.road__map__section {
  width: 100%;
  max-width: 1440px;
  margin: 6em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.road__map__section__img {
  width: 100%;
  max-width: 700px;
}
.road__map__section__bottom {
  font-size: 40px;
  color: white;
  width: 100%;
  max-width: calc(1440px - 1em);
  background-color: rgba(255, 255, 255, 0.1);
  height: 200px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2em;
  border-radius: 20px;
  position: absolute;
  bottom: 0px;
  font-family: spaceAge;
}
.team__section {
  width: 100%;
  max-width: calc(1440px - 2em);
  margin: 0em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team__section__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.team__section__content__entry {
  width: 24%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 2em;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.team__section__content__entry:nth-child(even):hover {
  transition: 300ms ease-in-out;
  background: linear-gradient(#3480a1, #2eaab4, #26e4cf);
}
.team__section__content__entry:nth-child(1):hover {
  transition: 300ms ease-in-out;
  background: linear-gradient(#3480a1, #2eaab4, #26e4cf);
}
.team__section__content__entry:nth-child(7):hover {
  transition: 300ms ease-in-out;
  background: linear-gradient(#ec6e6e, #991313);
}
.team__section__content__entry:nth-child(2):hover {
  transition: 300ms ease-in-out;
  background: linear-gradient(#ec6e6e, #991313);
}
.team__section__content__entry:nth-child(odd):hover {
  transition: 300ms ease-in-out;
  background: linear-gradient(#ea453a, #fedb3d);
}
.team__section__content__entry:nth-child(10):hover {
  transition: 300ms ease-in-out;
  background: linear-gradient(#533192, #8c4dff);
}
.team__section__content__entry:nth-child(4):hover {
  transition: 300ms ease-in-out;
  background: linear-gradient(#533192, #8c4dff);
}
.team__section__content__entry:nth-child(3):hover {
  transition: 300ms ease-in-out;
  background: linear-gradient(#3480a1, #2eaab4, #26e4cf);
}
.team__section__content__entry__img {
  width: 80%;
  border-radius: 50px;
}
.team__section__content__entry__link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}
.team__section__content__entry__link__entry {
  padding: 0.5em 1em;
  color: #f6f6f6;
}
.team__section__content__entry__link__entry:hover {
  color: #26e4cf;
}
.team__section__content__entry__content {
  color: white;
  font-size: 14px;
  text-align: justify;
}
.team__section__content__entry__content__heading {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  margin: 0.5em 0em;
  font-family: spaceAge;
}
.partner__section {
  width: 100%;
  max-width: 1440px;
  margin: 5em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.partner__section__content {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}
.partner__section__content__entry {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  height: 250px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
  cursor: pointer;
}
.partner__section__content__entry:nth-child(even):hover {
  transition: 300ms ease-in-out;
  background: linear-gradient(#3480a1, #2eaab4, #26e4cf);
}
.partner__section__content__entry:nth-child(1):hover {
  transition: 300ms ease-in-out;
  background: linear-gradient(#3480a1, #2eaab4, #26e4cf);
}
.partner__section__content__entry:nth-child(7):hover {
  transition: 300ms ease-in-out;
  background: linear-gradient(#ec6e6e, #991313);
}
.partner__section__content__entry:nth-child(2):hover {
  transition: 300ms ease-in-out;
  background: linear-gradient(#ec6e6e, #991313);
}
.partner__section__content__entry:nth-child(odd):hover {
  transition: 300ms ease-in-out;
  background: linear-gradient(#ea453a, #fedb3d);
}
.partner__section__content__entry:nth-child(7):hover {
  transition: 300ms ease-in-out;
  background: linear-gradient(#533192, #8c4dff);
}
.partner__section__content__entry:nth-child(4):hover {
  transition: 300ms ease-in-out;
  background: linear-gradient(#533192, #8c4dff);
}
.partner__section__content__entry:nth-child(3):hover {
  transition: 300ms ease-in-out;
  background: linear-gradient(#3480a1, #2eaab4, #26e4cf);
}
.partner__section__content__entry img {
  max-width: 80px;
}
.footer__conatiner {
  width: 100%;
  height: fit-content;
  padding: 6em 1em;
  min-height: 350px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__conatiner__content {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
  padding: 0em 2em;
}
.footer__overlay__content__col {
  width: 25%;
  padding-right: 1em;
  display: flex;
  flex-direction: column;
}
.footer__overlay__content__col__heading {
  font-size: 18px;
  color: #0c0e17;
  font-weight: 600;
  margin-bottom: 1.5em;
}
.footer__overlay__content__col__entry {
  color: #0c0e17;
  margin-bottom: 1em;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 14px;
}
.footer__overlay__content__col__entry svg {
  width: 18px;
  height: 18px;
  margin-right: 1em;
}
.footer__overlay__content__col__entry:hover {
  color: #a655ba;
  transition: 300ms ease-in-out;
}
.footer__overlay__content__col__img {
  width: 180px;
}
.footer__overlay__content__col__text {
  font-size: 14px;
  margin-top: 2em;
  width: 90%;
}
.footer__conatiner__buttom__border {
  width: 90%;
  height: 1px;
  margin-top: 2em;
  background: rgba(0, 0, 0, 0.5);
}
.footer__conatiner__buttom__content {
  display: flex;
  justify-content: space-between;
  width: 90%;
  align-items: center;
  margin-top: 1em;
  color: #0c0e17;
  font-size: 14px;
}
.footer__conatiner__buttom__content__right__para {
  display: flex;
  align-items: center;
}
@media (max-width: 1400px) {
  .App {
    padding: 0em 2em;
  }
}
@media (max-width: 1000px) {
  .header {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .header__btns {
    display: flex;
  }
  .header__nav {
    position: absolute;
    top: 103px;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    left: 0px;
  }
  .header__nav__link {
    margin-right: 0em;
    width: 100%;
    max-width: 175px;
    text-align: center;
    margin-bottom: 1em;
  }
  .header__nav .header__nav__link__btn {
    display: none;
  }
  .home__section {
    margin: 2em 0em;
  }
  .feature__section {
    padding: 0em;
  }
  .feature__section__content__entry {
    width: 48%;
  }
  .about__section {
    margin: 0em;
    margin-bottom: 5em;
    flex-direction: column;
  }
  .about__section__left {
    width: 100%;
    margin-bottom: 4em;
  }
  .about__section__right {
    width: 100%;
  }
  .team__section__content__entry {
    width: 48%;
  }
}
@media (max-width: 850px) {
  .footer__conatiner__content {
    flex-direction: column;
  }
  .footer__overlay__content__col {
    width: 100%;
    margin-top: 2em;
  }
  .footer__overlay__content__col__text {
    width: 100%;
  }
}
@media (max-width: 700px) {
  .footer__conatiner__buttom__content__left__para {
    margin-bottom: 1em;
  }
  .footer__conatiner__buttom__content__right__para {
    flex-direction: column;
    width: 90%;
    align-items: flex-start;
  }
  .footer__conatiner__buttom__content {
    flex-direction: column;
    width: 90%;
    align-items: flex-start;
  }
  .header__nav .header__nav__link__btn {
    display: flex;
    margin-bottom: 1.5em;
  }
  .header__btns .header__nav__link__btn {
    display: none;
  }
  .header__nav {
    top: 102px;
  }
  .header__menu {
    margin-right: 0em;
  }
  .home__section {
    padding: 10em 2em;
  }
  .home__section__pic {
    width: 300px;
  }
  .home__section__heading {
    font-size: 32px;
  }
  .App {
    padding: 0em 1em;
  }
  .road__map__section__img {
    max-width: 300px;
  }
  .road__map__section__bottom {
    position: relative;
    height: 100px;
    justify-content: center;
    font-size: 30px;
  }
  .about__section {
    padding: 5em 2em;
  }
  .about__section__left__img {
    width: 200px;
  }
  .about__section__right__heading {
    text-align: center;
    font-size: 30px;
    width: 100%;
  }
  .about__section__right__info {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .team__section__content__entry {
    width: 100%;
  }
}
@media (max-width: 450px) {
  .home__section__pic {
    margin-top: -1em;
  }
  .home__section__buttons {
    flex-direction: column;
    width: 100%;
  }
  .home__section__buttons__btn {
    width: 100%;
    margin-bottom: 1em;
  }
  .feature__section {
    margin: 3em 0em;
  }
  .feature__section__content__entry {
    width: 100%;
  }
}
